body {
    font-family: Micorsoft JhengHei;
    background-image:url(../images/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
nav {
    background-color: rgba(255,255,255,0.9);
}
#about {
    position: fixed;
    background-image: url(../images/phone.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
#photo {
    height: 20vh;
}
#people {
    height: 60vh;
}
@media (max-width:991.5px) {
    #people {
        height: 30vh;
    }
    #about {
        position: static;
        height: 30vh;
    }
}